# macOS
.DS_Store

# IntelliJ
.idea/
*.iml

# Node
node_modules/
.next/

# Java
target/

# Logs
*.log


# Next.js / TypeScript build
web/tsconfig.tsbuildinfo

# Environment files
.env.local
.env*.local
