@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 38, 38, 38;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 243, 244, 246;
}

.dark {
  --foreground-rgb: 243, 244, 246;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 31, 41, 55;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  min-height: 100vh;
}
